
@rendermode InteractiveServer
@inject FluentBlazorQuiz.Services.QuizStateService QuizStateService
@inject NavigationManager NavigationManager

<div class="navmenu">
    <FluentNavMenu Id="main-menu" Collapsible="true" Width="250" Title="Navigation menu" @bind-Expanded="expanded" CustomToggle="true">
        <FluentNavLink Href="/" Match="NavLinkMatch.All" Icon="@(new Icons.Regular.Size20.BookQuestionMark())" IconColor="Color.Accent">
            FluentQuiz
        </FluentNavLink>
        <FluentNavLink Href="/mini"
                       OnClick="@(() => QuizStateService.PauseQuiz())"
                       Match="NavLinkMatch.All"
                       Icon="@(new Icons.Regular.Size20.Accessibility())"
                       IconColor="Color.Accent">
            Hangman MiniGame
        </FluentNavLink>
    </FluentNavMenu>
</div>

@code {
    private bool expanded = true;
}
